<div class="home-container">
  <app-header [showBackButton]="selectedSection !== null" (onBack)="goBack()"></app-header>

  <div class="content">
    
    <div *ngIf="!selectedSection" class="selection-screen">
      <h1>Gestión del Fundo</h1>
      <p>Selecciona una sección para administrar</p>

      <div class="button-group">
        <button class="btn btn-primary" (click)="selectSection('clientes')">
         Clientes
        </button>
        <button class="btn btn-secondary" (click)="selectSection('productos')">
          Productos
        </button>
        <button class="btn btn-tertiary" (click)="selectSection('trabajadores')">
          Trabajadores
        </button>
      </div>
    </div>

  
    <div *ngIf="selectedSection === 'clientes'">
      <app-clients></app-clients>
    </div>

    <div *ngIf="selectedSection === 'productos'">
      <app-productos></app-productos>
    </div>


  </div>
</div>
